<h1>Users</h1>

<ul>
  <li *ngFor="let user of users$" >
    <a routerLink='/details/{{ user.id }}'> {{ user.name}} </a>

    <ul>
    <li>{{ user.email }}</li>
    <li><a href="http://{{user.website}}"> {{user.website}} </a></li>
  </ul>
  
  </li>

</ul>