<h1>Photos</h1>

<ul>
  <li *ngFor="let photo of photos$" >
    {{ photo.title}}

    <ul>
    <li>{{ photo.url }}</li>
    <li> <img src="{{ photo.thumbnailUrl }}" alt="{{ photo.title}}">  </li>
  </ul>
  
  </li>

</ul>