<nav>
  <ul>
    <li>
      <a routerLink="">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts">
        <i class="material-icons">message</i>
      </a>      
    </li>
    <li>
      <a routerLink="photos">
        <i class="material-icons">photo</i>
      </a>      
    </li>    
  </ul>
</nav>